@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

body{
    font-family: 'Source Sans Pro', sans-serif;
}

.container{
    padding-left: 1 rem;
    padding-right: 1 rem;
    padding-top: 2 rem;
    padding-bottom: 2 rem;
}
/* padding is a term or the attribute from css box model. The css box model has margin,border,padding,content */

.container-center{
    padding-left: 1 rem;
    padding-right: 1 rem;
    max-width: 600px;
    margin: auto;

}